/* .nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.nav-container .nav-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}


.nav-container .nav-logo img{
  width: 50px;
  height: 50px;
}

.nav-container .nav-links{

}


.register-link{
  text-decoration: none;
  border: 2px solid rgb(50, 109, 186);
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
  color: white;
  background-color: rgb(50, 109, 186);

}

.login-link{
  text-decoration: none;
  border: 2px solid rgb(50, 109, 186);
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
  color: rgb(50, 109, 186);
}

.register-link:hover{
  color: rgb(50, 109, 186);
  background-color: transparent;
}

.login-link:hover{
   color: white;
  background-color: rgb(50, 109, 186);

} */


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #1976d2;
  color: white;
  margin-bottom: 50px;
}

.logo {
  font-size: 22px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.account-container {
  position: relative;
}

.account-icon {
  cursor: pointer;
  font-size: 22px;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 35px;
  background: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.dropdown p {
  margin: 0;
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown p:hover {
  background: #f0f0f0;
}
